In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, sys
import pickle
import sklearn.metrics as metrics
sys.path.append('../')
import helpers.histogram_classifier as hc

# set display defaults
plt.rcParams['figure.figsize'] = (10, 10)        # large images
plt.rcParams['image.interpolation'] = 'nearest'  # don't interpolate: show square pixels
plt.rcParams['image.cmap'] = 'gray'  # use grayscale output rather than a (potentially misleading) color heatmap

In [2]:
from IPython.core.display import HTML
css = open('styles/table-style.css').read() #+ open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
classes = pd.read_csv('../data/food-101/meta/top_classes.csv', index_col=0)
class_list = list(classes['class'].unique())

##### Alexnet Layer 8 Extracted Features

In [4]:
predictions = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_8_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_8_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [5]:
score

         Accuracy     F1  Precision  Recall
Results     0.645  0.642      0.642   0.645

In [6]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.57    0.49      0.53    212.0
lasagna              0.59    0.62      0.61    184.0
french_toast         0.62    0.57      0.60    202.0
guacamole            0.81    0.89      0.85    195.0
apple_pie            0.58    0.51      0.54    207.0
cheesecake           0.60    0.63      0.62    196.0
hamburger            0.70    0.76      0.73    203.0
fried_rice           0.76    0.77      0.76    202.0
carrot_cake          0.63    0.58      0.60    212.0
chocolate_cake       0.67    0.70      0.69    191.0
steak                0.47    0.48      0.47    193.0
pizza                0.70    0.75      0.72    203.0

In [7]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,103,7,8,4,10,1,10,8,3,5,46,7
lasagna,6,114,2,1,9,2,5,11,8,0,6,20
french_toast,3,13,116,3,14,14,11,3,2,6,10,7
guacamole,0,2,1,174,0,0,8,4,1,1,1,3
apple_pie,6,8,20,5,106,13,10,5,19,5,6,4
cheesecake,3,6,4,1,8,124,9,4,13,13,6,5
hamburger,5,3,7,5,9,3,154,1,0,2,12,2
fried_rice,4,7,3,7,5,1,2,156,3,2,3,9
carrot_cake,8,6,8,2,11,24,1,4,123,15,4,6
chocolate_cake,1,0,3,5,3,16,3,1,17,134,6,2
steak,40,9,12,7,2,6,4,4,4,11,92,2
pizza,1,17,2,2,7,2,2,5,3,5,4,153

##### Alexnet Layer 7 Extracted Features

In [8]:
predictions = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_7_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_7_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [9]:
score

         Accuracy     F1  Precision  Recall
Results     0.631  0.629      0.628   0.631

In [10]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.52    0.49      0.50    212.0
lasagna              0.55    0.61      0.58    184.0
french_toast         0.60    0.55      0.57    202.0
guacamole            0.80    0.88      0.84    195.0
apple_pie            0.53    0.47      0.50    207.0
cheesecake           0.57    0.59      0.58    196.0
hamburger            0.75    0.74      0.74    203.0
fried_rice           0.75    0.76      0.76    202.0
carrot_cake          0.63    0.60      0.62    212.0
chocolate_cake       0.63    0.67      0.65    191.0
steak                0.48    0.46      0.47    193.0
pizza                0.73    0.77      0.75    203.0

In [11]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,103,11,15,5,6,2,4,8,5,8,43,2
lasagna,9,112,6,1,11,2,6,7,5,1,4,20
french_toast,8,14,111,3,18,13,5,5,3,7,11,4
guacamole,0,2,1,171,1,0,8,6,2,1,2,1
apple_pie,11,11,17,5,98,19,5,6,19,8,4,4
cheesecake,2,5,4,1,14,116,4,4,14,19,8,5
hamburger,11,4,6,2,8,3,150,1,1,5,10,2
fried_rice,8,8,4,5,3,1,2,154,6,0,2,9
carrot_cake,6,4,8,3,13,21,2,5,127,14,2,7
chocolate_cake,2,2,5,3,5,17,2,0,16,128,9,2
steak,38,12,6,12,3,7,10,4,2,10,88,1
pizza,1,18,2,2,6,4,3,4,1,3,2,157

##### Alexnet Layer 6 Extracted Features

In [16]:
predictions = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_6_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_alexnet/svm_alexnet_layer_6_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [17]:
score

         Accuracy     F1  Precision  Recall
Results     0.591  0.591      0.592   0.591

In [18]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.45    0.46      0.45    212.0
lasagna              0.53    0.66      0.59    184.0
french_toast         0.52    0.49      0.51    202.0
guacamole            0.81    0.85      0.83    195.0
apple_pie            0.46    0.44      0.45    207.0
cheesecake           0.55    0.55      0.55    196.0
hamburger            0.66    0.65      0.65    203.0
fried_rice           0.72    0.71      0.71    202.0
carrot_cake          0.57    0.55      0.56    212.0
chocolate_cake       0.64    0.64      0.64    191.0
steak                0.45    0.43      0.44    193.0
pizza                0.76    0.69      0.72    203.0

In [19]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,98,18,18,3,12,3,10,6,3,0,37,4
lasagna,7,121,7,4,5,3,3,8,8,0,6,12
french_toast,16,14,99,2,25,8,9,1,8,9,10,1
guacamole,3,3,0,166,2,6,6,4,0,2,3,0
apple_pie,9,13,18,4,92,10,9,7,22,9,7,7
cheesecake,4,1,10,0,13,107,9,6,15,21,6,4
hamburger,12,7,9,7,9,5,131,3,2,5,10,3
fried_rice,10,11,1,7,10,1,3,144,4,1,0,10
carrot_cake,7,8,10,3,18,24,4,6,116,7,8,1
chocolate_cake,6,2,5,3,2,17,4,2,16,122,10,2
steak,42,10,6,6,6,6,9,5,6,14,83,0
pizza,5,20,6,1,7,4,2,9,3,2,4,140

##### VGGNet Layer 8 Extracted Features

In [20]:
predictions = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_8_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_8_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [21]:
score

         Accuracy     F1  Precision  Recall
Results     0.688  0.684      0.684   0.688

In [22]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.59    0.56      0.58    204.0
lasagna              0.68    0.60      0.63    188.0
french_toast         0.71    0.68      0.70    212.0
guacamole            0.84    0.90      0.87    198.0
apple_pie            0.65    0.51      0.57    214.0
cheesecake           0.64    0.67      0.65    199.0
hamburger            0.69    0.81      0.74    205.0
fried_rice           0.76    0.82      0.79    195.0
carrot_cake          0.65    0.60      0.62    192.0
chocolate_cake       0.69    0.73      0.71    199.0
steak                0.58    0.52      0.55    191.0
pizza                0.74    0.85      0.79    203.0

In [23]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,115,5,11,1,5,3,16,7,6,3,29,3
lasagna,10,112,3,3,8,2,3,11,7,0,4,25
french_toast,9,7,144,0,7,11,8,3,5,6,8,4
guacamole,3,1,0,179,2,0,5,1,0,0,2,5
apple_pie,4,15,18,4,110,10,8,8,20,6,5,6
cheesecake,3,2,8,0,6,133,5,0,9,28,2,3
hamburger,2,1,2,2,7,7,166,2,3,2,8,3
fried_rice,5,2,2,11,3,2,3,159,0,1,2,5
carrot_cake,3,6,4,1,15,20,1,10,115,12,2,3
chocolate_cake,1,2,3,1,3,13,8,0,10,146,9,3
steak,41,4,5,5,1,3,15,5,2,8,100,2
pizza,0,8,2,5,3,4,3,2,1,1,1,173

##### VGGNet Layer 7 Extracted Features

In [24]:
predictions = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_7_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_7_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [25]:
score

         Accuracy     F1  Precision  Recall
Results      0.69  0.688      0.688    0.69

In [26]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.57    0.55      0.56    204.0
lasagna              0.69    0.64      0.66    188.0
french_toast         0.70    0.65      0.67    212.0
guacamole            0.86    0.90      0.88    198.0
apple_pie            0.65    0.57      0.60    214.0
cheesecake           0.65    0.62      0.64    199.0
hamburger            0.72    0.79      0.75    205.0
fried_rice           0.78    0.79      0.78    195.0
carrot_cake          0.68    0.64      0.66    192.0
chocolate_cake       0.70    0.73      0.71    199.0
steak                0.53    0.55      0.54    191.0
pizza                0.76    0.85      0.80    203.0

In [27]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,112,7,9,1,4,1,14,6,5,2,40,3
lasagna,9,120,5,5,8,2,3,6,6,2,4,18
french_toast,11,7,137,0,15,9,7,5,1,6,10,4
guacamole,4,1,0,179,3,1,3,2,0,0,3,2
apple_pie,6,11,13,3,121,16,6,12,9,6,6,5
cheesecake,2,3,11,0,7,124,5,0,11,27,5,4
hamburger,3,4,4,3,9,3,162,1,2,3,11,0
fried_rice,7,1,1,10,3,0,1,155,4,1,2,10
carrot_cake,4,9,7,0,9,15,4,5,123,9,4,3
chocolate_cake,0,2,1,1,3,11,8,0,15,146,8,4
steak,38,4,8,4,1,2,11,5,4,7,105,2
pizza,1,6,1,3,4,7,2,3,2,1,1,172

##### VGGNet Layer 6 Extracted Features

In [28]:
predictions = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_6_2016_08_17/predicted_labels")
actuals = np.load("../transfer-learning/models/svm_vggnet/svm_vggnet_layer_6_2016_08_17/test_labels")
predictions = np.array([x.decode() for x in predictions])
actuals = np.array([x.decode() for x in actuals])
score, metrics, confusion = hc.get_metrics(actuals, predictions, class_list)

In [29]:
score

         Accuracy     F1  Precision  Recall
Results     0.637  0.636      0.636   0.637

In [30]:
metrics

                Precision  Recall  F1-Score  Support
pork_chop            0.46    0.49      0.47    204.0
lasagna              0.57    0.53      0.55    188.0
french_toast         0.64    0.60      0.62    212.0
guacamole            0.83    0.88      0.86    198.0
apple_pie            0.57    0.52      0.54    214.0
cheesecake           0.62    0.56      0.59    199.0
hamburger            0.69    0.72      0.71    205.0
fried_rice           0.76    0.76      0.76    195.0
carrot_cake          0.61    0.58      0.59    192.0
chocolate_cake       0.69    0.72      0.70    199.0
steak                0.45    0.50      0.47    191.0
pizza                0.73    0.79      0.76    203.0

In [31]:
confusion

,pork_chop,lasagna,french_toast,guacamole,apple_pie,cheesecake,hamburger,fried_rice,carrot_cake,chocolate_cake,steak,pizza
pork_chop,99,5,12,1,5,2,13,2,5,3,55,2
lasagna,13,100,8,4,10,4,4,8,5,2,8,22
french_toast,15,8,127,1,11,11,7,4,8,7,9,4
guacamole,2,1,0,174,3,4,5,2,2,0,1,4
apple_pie,7,15,20,2,111,15,8,9,12,4,5,6
cheesecake,5,6,7,2,16,112,1,1,12,25,8,4
hamburger,10,2,5,6,11,3,148,3,3,4,9,1
fried_rice,9,5,0,10,1,1,3,148,5,1,2,10
carrot_cake,3,9,7,0,17,16,2,6,111,12,7,2
chocolate_cake,5,0,3,1,5,9,7,1,13,143,11,1
steak,44,7,7,5,3,1,13,5,4,4,95,3
pizza,3,16,2,3,3,2,2,5,3,2,1,161